th {
  background-image: linear-gradient(to right top, #fcaa19, #f7a91f, #f2a825, #eda62a, #e8a52e);
    /* background-image: linear-gradient(to right, #DC0E2B, #E00E2B, #E40D2B, #E80D2B, #EC0C2B); */
    padding: 1px;
    border: none;
    border-collapse: collapse;
    margin-right: 0;
    margin-left: 0;
    color: white;
    /* text-align: left; */
    /* background-color: #FCAA19; */
  }
  tr:nth-child(even) {background-color: #F2F2F2;}
  th, td {
    border-bottom: none;
  }
  table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 100%;
}
form{
 margin: auto;
}
input{
  justify-content: space-around;
  padding: 5px;
  margin: 10px;
}
tr{
    margin: 20px;
}
tbody > tr:hover {
  /* color: rgb(240, 6, 37); */
  color: #e8a52e;
  text-decoration: underline;
  background-color: #ddd;
}
  td {
    padding: 5px;
    border: none;
    text-align: center;
  }