.main-footer{
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    /* background: rgb(38, 180, 38); */
    /* background-color: #FCAA19; */
    background-image: linear-gradient(white, #FCAA19);
    color: black;
    padding: .25em 0;
}
.footer-nav img{
    width: 30px;
    height: 30px;
}
#p-f {
    color: black;
    font-size: 12px;
}
h3 {
    font-size: 18px;
}
#est {
    font-size: 10px;
}